body{ 
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4564;
    color: #fff;
}
.navbar{
    padding-bottom: 4.5rem;
}
.container-fluid{
    padding: 3% 15%;
}
.title-head{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
    font-family: "Montserrat";
}
.navbar-brand{
    font-size: 2.5rem;
    margin-left: 1rem;
    font-family: 'Ubuntu';
}
.nav-item{
    margin: 0 18px;
    font-size: 1.3rem;
    font-weight: 300;
}
.title-image{
    margin: 1.5rem 1.5rem;
    width: 60%;
    transform: rotate(25deg);
}

.download-button{
    margin: 5% 3% 5% 0;
}

#features .row{
    text-align: center;
}
#features i{
    color: #ef8172;
    margin-bottom: 0.3em;
}
#features i:hover{
    color: #ff4c68;
}
#features h3{
 
    font-family: Montserrat;
    font-weight: 900;
    font-size: 1.5rem;
}
#features p{
    /* width: 15rem; */
    color: #8f8f8f;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#testimonials h2{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px 20px;
}
.carousel-inner{

    padding: 7% 15%;
}

#pricing{
    padding:100px;
}
.pricing-column{
    padding: 3% 2%;
}